<!-- todo now - mudar txt -->
<% @title = "Contato" %>


<!--todo now futuro - colokr pra essas informacoes aparecerem em cima da tela na pagina inicial -->
<section class="contact">

Tem alguma sugestão?
<br /><br />

Quer ter seu próprio site?
<br /><br />

Entre em contato conosco!
<br /><br />

Email: <%= mail_to "siac.bar@gmail.com", "siac.bar@gmail.com" %>

<!-- todo now - fazer formulario com email, assunto e txt pra pessoa enviar pra gent -->

</section>

<!-- todo futuro - criar formulario com fancybox, pra aparecer em cima da tela, colocando a outra em segundo plano .. -->
<!-- todo futuro - criar formulario com dados necessarios pra cadastrar o bar e jah colocar pra pessoa cadastrar -->
<!-- qnto mais dados vc colocar, mais rapido o cadastro é efetuado -->
<!-- todo futuro - talvez criar cadastro de usuario pra relacionar com bar pra sabr kem mandou cada bar e talvez colokr nome da pessoa na pagina -->