<!-- todo now - mudar txt -->
<% @title = "Termos de Uso" %>

<section>

  <!--todo now - add div pra colokr estilos -->
  <!--todo now - colokr no arquivo de traducoes-->
  <%= link_to "Página Principal", principal_path %> > Termos de Uso

  <hr/>


</section>