<% @title = "Termos de Uso" %>

<section>

  <div class="breadcrumb">
    <%= link_to I18n.t("breadcrumb_principal"), principal_path %> <span class="next" />
    <%= I18n.t("breadcrumb_terms") %>
  </div>

  <hr/>


</section>

<!--todo futuro - colokr pra abrir em cima da pagina tb - fancybox-->