<!-- todo now - mudar txt -->
<% @title = "Termos de Uso" %>

<section>

  <div class="breadcrumb">
    <%= link_to I18n.t("breadcrumb_principal"), principal_path %> >
    <%= I18n.t("breadcrumb_terms") %>
  </div>

  <hr/>


</section>