/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* TODAS AS PÁGINAS */
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: Helvetica;
    width: 90%;
    text-align: -webkit-right;
}
hr {
    height: 2px;
    clear: both;
}
.ckeditor_fields, .home_bar_description{
    width: 78% !important;
    margin-left: 20% !important;
}
/* todo now - funciona - ver que tamanho fica bom pra cada tamanho d tela */
.map{
    /*width: 100px !important;*/
    /*height: 100px !important;*/
}

/* LINKs */
a {
    text-decoration: none;
    color: darkblue;
}
a:visited {
    color:#006AAB;
}
a:hover {
    color: cornflowerblue;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0;
}



/*VÁRIAS PÁGINAS */
#map_canvas {
    height: 100%
}
.home-bar-all img, .principal img{
    width: 100px;
    height: 100px;
}

/* SOCIAL */
.bts {
    padding:0;
    margin:6px 0 3px 0;
    float:right;
    font-size: 10px;
}
.bts li {
    float:left;
    list-style:none;
    overflow:hidden;
    margin-right:5px;
}
.bts li iframe {
    width:98px !important;
}


/* APPLICATION */
.header-body{
    height: auto !important;
    min-height: 96.7%;
    padding-bottom: 22px;
}


/* HEADER */
header h1 {
    text-align: center;
    height: 35px;
    background-color: pink;
}
header img {
    margin: 10px 0 0 0px;
    height: 150px;
    width: 100%;
}


/* PRINCIPAL */
.principal h2{
    width: 31.4%;
    margin-left: 5%;
    float: left;
    margin-right: 1.5%;
    font-size: 14px;
    text-align: justify;
}
.principal h4, .principal h5 {
    text-align: left;
}
.principal .principal-links {
    float: left;
    padding: 10px;
    font-size: 14px;
}
.principal .principal-destaques {
    float: left;
    padding: 10px 7px;
    font-size: 14px;
}


/* HOME BAR */
.home-bar h1 {
    text-align: center;
    height: 35px;
}
.home-bar img {
    margin: 30px 0 0 50px;
    width: 41%;
}
.home-bar h2 {
    width: 31.5%;
    margin-left: 5%;
    margin-top: 4.5%;
    height: 100px;
    font-size: 14px;
    text-align: justify;

    /* layout
    background-color: pink;
    margin-left: 50px;
    width: 400px;
    margin-top: 47px;
    */
}
.home-bar .address{
    margin-left: 550px;
    width: 50%;
    margin-top: -90px;

    /* layout
    background-color: blue;
    height: 100px;
    margin-left: 450px;
    width: 40%;
    margin-top: -100px;
    */
}
.home-bar .comments{
    text-align:center;
}
.home-bar .comments h6{
    font-size:14px;
    font-weight: 100;
}


/* HOME BAR - ALL */
.home-bar-all a{
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 15px;
}
.home-bar-all h1, .home-bar-all h5 {
    text-align: left;
}


/* PRINCIPAL - CONTACT */
/* todo now - fazer css */
.contact{
    text-align: center;
    margin-top: 3%;
}


/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    margin-top: -22px;
    height: 22px;
    background-color: pink;
    width: 100%;
    clear: both;
    text-align: left;
}