/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* TODAS AS PÁGINAS */
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: Helvetica;
    width: 90%;
    margin: auto;
    background-color: lavender;
    color: #282828;
}
hr {
    height: 2px;
    clear: both;
    /*border: none;*/
    margin-top: 5px;
    margin-bottom: 5px;
}
.line{
    border: 1px solid #d9d9d9;
}
.ckeditor_fields, .home_bar_description{
    width: 78% !important;
    margin-left: 20% !important;
}
h1 {
    text-align: center;
    height: 35px;
}
#map_canvas {
    margin-top: 3%;
    height: 283px;
    width: 421px;
}
.breadcrumb{
    margin-top: -31px;
    margin-bottom: 25px;
}
.breadcrumb  span:before{
    content: ">";
    color: gray;
}
/* LINKs */
a {
    text-decoration: none;
    color: darkblue;
}
/*todo seb now - dxar cor dif nos links visitados?*/
a:visited {
    color:#006AAB;
}
a:hover {
    color: cornflowerblue;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0;
}
/* FLASH MESSAGES */
.alerta {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    color: #c09853;
    font-size: 18px;
    margin-bottom: 20px;
    padding: .5em 35px .5em 45px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-align: center;
}
.alerta.alerta-success {
    background: #dff0d8;
    border-color: #d6e9c6;
    color: #468847
}
.alerta.alerta-error {
    background: #f2dede;
    border-color: #eed3d7;
    color: #b94a48
}
.alerta.alerta-info {
    background: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad
}
.alerta .bt-fechar {
    background: transparent;
    color: #556b80;
    font-family: 'Proxima Nova Bold',Helvetica,Arial,sans-serif;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    filter: alpha(opacity=60);
    opacity: .2;
    text-shadow: 0 1px 0 #fff
}
.alerta .bt-fechar:hover {
    filter: alpha(opacity=60);
    opacity: 1
}



/*VÁRIAS PÁGINAS */
/*todo fim now futuro - ver como colokr tamanho dif pra kda tamanho d tela e mudar tamanhos de imgs pra fikr como quero*/
.category img, .principal img, .all-categories img{
    width: 100px;
    height: 100px;
}
.principal .principal-destaques, .all-categories nav a, .category nav a {
    float: left;
    padding: 10px 7px;
    font-size: 14px;
}


/* SOCIAL */
.bts {
    padding:0;
    margin:6px 0 3px 0;
    float:right;
    font-size: 10px;
}
.bts li {
    float:left;
    list-style:none;
    overflow:hidden;
    margin-right:5px;
}
.bts li iframe {
    width:98px !important;
}


/* APPLICATION */
.header-body{
    height: auto !important;
    min-height: 96.7%;
    background-color: white;
    border-radius: 3px;
    padding: 0 20px 0;
    border: 1px solid #d9d9d9;
    margin-top: -11px;
}


/* HEADER */
header img {
    margin: 10px 0 0 0px;
    height: 150px;
    width: 100%;
}


/* PRINCIPAL */
.principal h2{
    width: 37.4%;
    margin-left: 2%;
    float: left;
    margin-right: 1.5%;
    font-size: 14px;
    text-align: justify;
    margin-top: 3%;
    padding: 16px;
    border-radius: 3px;
    color: darkblue;
    background-color: lavender;

    background-color: rgb(229, 227, 223);
}
.principal h4, .principal h5 {
    text-align: left;
}
.principal .principal-links {
    float: left;
    padding: 10px;
    font-size: 14px;
}


/* HOME BAR */
.home-bar .info-bar{
    float: left;
    width: 49%;
    padding: 10px 25px;
    padding-right: 0;
    height: 0;
    margin-left: 1%;
}
.home-bar .map-bar{
    /*margin-left: auto;*/

    margin-right: 1.5%;
    margin-top: 3%;
    margin-left: 50.9%;
}
.home-bar img {
    margin-top: 19px;
    width: 82%;
    /*width: 42%;*/

    float: left;
    margin-right: 7%;
}
.home-bar h2 {
    width: 76.2%;
    margin-top: 65.7%;
    height: 100px;
    font-size: 14px;
    text-align: justify;
    background-color: lavender;
    padding: 3% 3% 0 3%;
    color: darkblue;
    border-radius: 0 0 5px 5px;
}
.home-bar .address{
    color: midnightblue;
    border-radius: 0 0 5px 5px;
    background-color: lavender;
    padding: 3% 5% 4.8% 3%;
    margin-right: 5.0%;

    background-color: rgb(229, 227, 223);
}
.home-bar .comments{
    text-align:center;
}
.home-bar .comments h6{
    font-size:14px;
    font-weight: 100;
    color: midnightblue;
}


/* CATEGORY */
.category h5 {
    text-align: left;
}


/* PRINCIPAL - CONTACT */
.contact .breadcrumb{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
.contact .contact-text{
    float: left;
    margin: 8% 11%;
    padding: 2%;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-right: 16%;
}
.contact div{
    margin-top: 1%;
}
.contact input[type="text"], .contact select, .contact textarea, .contact input[type="email"] {
    width: 280px;
    border-radius: 5px;
    margin-top: 0.2%;
}
.contact input[type="text"], .contact input[type="email"]{
    padding: 2px 4px;
}
.contact input[type="text"], .contact select, .contact input[type="email"]{
    height: 20px;
}
.contact select {
    background-color: rgb(229, 227, 223);
    height: 25px;
    width: 291px;
}
.contact textarea {
    height: 120px;
    width: 290px;
}
.contact input[type="submit"]{
    border-radius: 5px;
    padding: 2px 4px;
    margin-right: 43.7%;
}


/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    margin-top: -22px;
    height: 22px;
    width: 100%;
    clear: both;
    text-align: left;
    margin-top: 5px;
}