<% @principals.each do |principal| %>

    <header>
      <!-- todo now - colokr link certo -->
      <h1><%= link_to principal.title,"http://localhost:3000/" %></h1>

      <!-- todo now - ver onde colocar -->
      <div class="fb-like" data-href="http://localhost:3000/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a>
      <p><g:plusone size="standard" annotation="bubble"></g:plusone></p>


      <hr/>

      <div>
        <!-- todo futuro - buscar à medida q a pessoa vai digitando - oninput? -->
        <!-- <input type="search" placeholder="Nome do Estabelecimento"/> -->
      </div>

      <hr/>

      <%= image_tag principal.main_image.url(:medium), :class => "main" %>

      <hr/>

    </header>

<% end %>