<header>

  <% @principal.each do |principal| %>

      <a href="<%= principal_path %>">
        <%= image_tag principal.logo_image.url(:medium), :alt => principal.title %>
      </a>

      <hr/>

      <!--<div>-->
      <!-- todo futuro - buscar à medida q a pessoa vai digitando - oninput? -->
      <!-- <input type="search" placeholder="Nome do Estabelecimento"/> -->
      <!--</div>-->

      <!--<hr/>-->

  <% end %>

</header>