<% @principals.each do |principal| %>

    <header>
      <!-- todo now - colokr link certo -->
      <!--<h1><%= link_to principal.title,"http://localhost:3000/" %></h1>-->

      <%= image_tag principal.main_image.url(:medium) %>

      <hr/>

      <!--<div>-->
        <!-- todo futuro - buscar à medida q a pessoa vai digitando - oninput? -->
        <!-- <input type="search" placeholder="Nome do Estabelecimento"/> -->
      <!--</div>-->

      <!--<hr/>-->

    </header>

<% end %>