<% @title = "Página não encontrada!" %>

<section>
  <!--todo futuro - fazer img pra cada erro diferente -->
  <!--estabelecimento n encontrado, categoria n encontrada, cidad n encontrada, etc-->
    A página que você está procurando não foi encontrada!
</section>