<!-- todo seb now - mudar txt -->
<% @title = "Não encontrado!" %>

<section>
  <!--todo now - colokr msg generica pra n ter q fazer d cada um-->
  <!--estabelecimento n encontrado, categoria n encontrada, cidad n encontrada, etc-->
  <!--todo futuro - fazer img pra cada erro diferente-->
    A página que você está procurando não foi encontrada!
</section>