<!-- todo seb now - ver onde colocar -->
<!-- todo fim now - alinhar plugins -->
<!-- todo fim now - fazer aparecer qntos twets foram feitos -->
<section class="social">
    <ul class="bts">
      <li><div class="fb-like left" data-send="false" data-width="50" data-show-faces="false" style="width:60px; height:24px; float:left; overflow:hidden" data-href="<%= url %>" data-layout="button_count" data-show-faces="false"></div></li>
      <li style="width: 80px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-text="<%= share_text %>" data-lang="pt">Tweetar</a></li>
      <li style="width: 90px;"><p><g:plusone size="standard" annotation="bubble"></g:plusone></p></li>
    </ul>
</section>