<!-- todo now - ver onde colocar -->
<section class="social">

  <div style="font-size: 10px; margin-top: 30px">
    <ul class="bts">
      <li><div class="fb-like left" data-send="false" data-width="50" data-show-faces="false" style="width:60px; height:24px; float:left; overflow:hidden" data-href="<%= url %>" data-layout="button_count" data-show-faces="false"></div></li>
      <!-- todo now - ver se dah pra aparecer com balaozinho d qntas pessoas twitaram -->
      <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-text="<%= share_text %>" data-lang="pt" style="width:100px;">Tweetar</a></li>
      <li><p><g:plusone size="standard" annotation="bubble"></g:plusone></p></li>
    </ul>
  </div>

</section>