<section class="contact">

Deseja sugerir um novo bar para ser adicionado?
<br /><br />

Deseja exibir um banner de propaganda?
<br /><br />

Quer ter seu próprio site?
<br /><br />

Entre em contato conosco!
<br /><br />

  <!-- todo: mudar pro novo email -->
Email: <%= mail_to "siac.bar.web@gmail.com", "Bar Web" %>

</section>

<!-- todo: criar formulario com fancybox, pra aparecer em cima da tela, colocando a outra em segundo plano .. -->
<!-- todo: criar formulario com dados necessarios pra cadastrar o bar e jah colocar pra pessoa cadastrar -->